<% if @fix.errors.any? %>
  <ul>
    <% @fix.errors.full_messages.each do |msg| %>
      <li><%= msg.html_safe %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @fix do |f| %>
  <!-- select issue -->
  <fieldset>
    <%= f.label :issue_ids, "A FIX FOR ISSUE:" %>
    <%= f.collection_select :issue_ids, @issues, :id, :summary, {:selected => @option, :include_blank => 'Please select an issue...'} %>
  </fieldset>
  <!---->

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "sentence", :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :steps %>
    <%= f.text_area :steps, :class => "sentence long-text", :required => true %>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>

<% end %>
