<%= form_for @fix do |f| %>
  <!-- select issue -->
  <fieldset>
    <%= f.label :issue_ids, "A FIX FOR ISSUE:" %>
    <%= f.collection_select :issue_ids, Issue.all, :id, :summary %>
  </fieldset>
  <!---->

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "sentence" %>
  </fieldset>

  <fieldset>
    <%= f.label :steps %>
    <%= f.text_area :steps, :class => "sentence long-text" %>
  </fieldset>

  <fieldset>
    <label></label>
    <%= f.submit %>
  </fieldset>

<% end %>
