<%= form_for @issue do |f| %>
  <fieldset>
    <%= f.label :summary %>
    <%= f.text_field :summary, :class => "sentence" %>
  </fieldset>

  <fieldset>
    <%= f.label :details %>
    <%= f.text_area :details, :class => "sentence long-text" %>
  </fieldset>

  <!-- select related tech -->
  <fieldset>
    <%= f.label :technology_id %>
    <%= f.collection_check_boxes :technology_ids, @technologies, :id, :name %>
  </fieldset>

  <fieldset>
    <label></label>
    <%= f.submit %>
  </fieldset>

<% end %>
