<% if @issue.errors.any? %>
  <ul>
    <% @issue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @issue do |f| %>
  <fieldset>
    <%= f.label :summary %>
    <%= f.text_field :summary, :class => "sentence", :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :details %>
    <%= f.text_area :details, :class => "sentence long-text" %>
  </fieldset>

  <!-- select related tech -->
  <fieldset>
    <%= f.label :technology_id %>
      <ul class="checkboxes">
        <%= f.collection_check_boxes :technology_ids, @technologies, :id, :name do |b| %>
          <li>
            <%= b.check_box %>
            <%= b.label %>
          </li>
        <% end %>
      </ul>
  </fieldset>
  <!---->

  <fieldset>
    <label></label>
    <%= f.submit %>
  </fieldset>

<% end %>
