<!-- ISSUES SHOW SINGLE -->
<h2><%= @issue.summary %></h2>

<p><%= simple_format( @issue.details ) %></p>


<h2>Fixes</h2>

<ul>
<% @issue.fixes.each do |f| %>
  <li>
    <%= link_to f.title, '#' %>
  </li>
<% end %>
</ul>

<p>Issue last updated: <%= @issue.updated_at.strftime( "%B %e, %Y %H:%M UTC" )%></p>
<%# TODO make client side adjust for user system local time %>

<div class="controls">
  <%= link_to 'Edit Issue', edit_issue_path(@issue.id) %>
  <%= link_to 'Delete Issue', @issue, :method => "delete", :data => { :confirm => "Are you sure you want to permanently delete this issue?" } %>
</div>
