<!-- ISSUE SHOW SINGLE -->
<div class="show-container">
  <h2 class="issue-slash">ISSUE: <%= @issue.summary %></h2>
  <p>FURTHER DETAILS<br><%= markdown( @issue.details ) unless @issue.details.nil? %></p>
</div>


<div class="lower-container">
  <div class="inner-bound">

    <h2>FIX:</h2>
    <ul>
    <% @issue.fixes.each do |f| %>
      <li>
        <%= link_to f.title, fix_path(f.id) %>
      </li>
    <% end %>
    </ul>

    <%= render partial: "pin" %>

    <p class="updated-time">Last updated <%= time_ago_in_words @issue.updated_at %> ago</p>

    <h3>This issue involves:</h3>
    <ul>
      <% @issue.technologies.each do |t| %>
        <li>
          <%= link_to t.name, technology_path(t) %>
        </li>
      <% end %>
    </ul>

    <!-- ADMIN CONTROLS -->
    <%= render partial: "shared/admin_ctrl" %>

  </div>
</div>
