<!-- ISSUE SHOW SINGLE -->
<h2>ISSUE:</h2>
<h2><%= @issue.summary %></h2>

<p><%= markdown( @issue.details ) unless @issue.details.nil? %></p>

<!-- PINS -->
<% unless @current_user.favorite_issues.exists?(id: @issue.id) %>
  <p>&nbsp;</p>
  <%= link_to 'Add to pins', favorite_issues_path(issue_id: @issue), method: :post %>
<% else %>
  <p>PINNED</p>
  <%= link_to 'Remove from pins', favorite_issue_path(@issue), method: :delete %>
<% end %>

<!-- end pins -->

<h2>FIX:</h2>

<ul>
<% @issue.fixes.each do |f| %>
  <li>
    <%= link_to f.title, fix_path(f.id) %>
  </li>
<% end %>
</ul>

<p class="updated-time">Last updated <%= time_ago_in_words @issue.updated_at %> ago</p>

<h3>This issue involves:</h3>

<ul>
  <% @issue.technologies.each do |t| %>
    <li>
      <%= link_to t.name, technology_path(t) %>
    </li>
  <% end %>
</ul>


<div class="controls">
  <%= link_to 'Edit Issue', edit_issue_path(@issue.id) %>
  <%= link_to 'Delete Issue', @issue, :method => "delete", :data => { :confirm => "Are you sure you want to permanently delete this issue?" } %>
</div>
