<div class="form-inner-bound">
  <p class="user-form-heading">Please login using your email address and password</p>

  <div class="user-info">
    <%= form_tag login_path do %>
    <% if flash[:error] %>
      <fieldset class="field_with_errors" >
    <% else %>
      <fieldset>
    <% end %>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, :autofocus => true %>
      </fieldset>
    <% if flash[:error] %>
      <fieldset class="field_with_errors" >
    <% else %>
      <fieldset>
    <% end %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </fieldset>
      <fieldset>
        <label></label>
        <%= submit_tag "Login" %>
      </fieldset>
    <% end %>
    <p class="user-form-heading notice"><%= flash[:error] %>&nbsp;</p>
  </div>

</div>
