<div class="form-inner-bound">
  <p class="user-form-heading">EDIT PROFILE</p>

  <div class="user-info">
    <%= form_for @user do |f| %>
      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true %>
      </fieldset>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </fieldset>
      <fieldset>
        <label></label>
        <%= f.submit "Update profile" %>
      </fieldset>
    <% end %>
    <p class="user-form-heading notice">
        <% if @user.errors.any? %>
          Please try again:
          <%=  @user.errors.full_messages.join(', ').downcase %>
        <% end %>&nbsp;
    </p>

  </div>

</div>
