<div class="form-inner-bound">
    <p class="user-form-heading">Create an account to pin entries to your home page</p>

    <div class="new-user-info">
      <%= form_for @user do |f| %>
        <fieldset>
              <%= f.text_field :name, :autofocus => true, :placeholder => "Name" %>
        </fieldset>
        <fieldset>
              <%= f.email_field :email, :placeholder => "Email" %>
        </fieldset>
        <fieldset>
              <%= f.password_field :password, :placeholder => "Enter a password, minimum 6 characters" %>
        </fieldset>
        <fieldset>
              <%= f.password_field :password_confirmation, :placeholder => "Retype password" %>
        </fieldset>
        <fieldset>
              <label></label>
              <%= f.submit "Create account" %>
        </fieldset>
      <% end %>
      <p class="user-form-heading notice">
          <% if @user.errors.any? %>
            Please try again:
            <%=  @user.errors.full_messages.join(', ').downcase %>
          <% end %>&nbsp;
      </p>

    </div>

</div>
