<div class="large-search">
  <%= form_tag(@search[:path], method: :get) do %>
    <%= text_field_tag 'term', params[:term], placeholder: "#{@search[:type]}", class: "search sentence" %>
    <span class="slash issue-slash">/</span>
    <!-- <%= submit_tag "Search #{@search[:type]}" %> -->
    <%= button_tag(type: 'submit', class: "btn submit", id: 'mag-glass-main') do %>
      <%= image_tag 'mag-white.png', class: "mag" %>
    <% end %>
    <%= link_to 'X', @search[:path], class: "clear-search" %>
  <% end %>
</div>
