<%= render partial: "multisearch" %>

<!-- PINS -->
<% if session[:user_id].present? %>
  <div class="lower-container">
    <div class="inner-bound">

      <h2 class="grid-heading">YOUR PINS</h2>
      <div class="grid-container">

        <% @current_fav_issues.each do |fi| %>
          <%= link_to issue_path(fi) do %>
            <div class="grid-box">
              <h4><span class="issue-shade">/</span> ISSUE</h4>
              <p><%= fi.summary %></p>
            </div>
          <% end %>
        <% end %>

        <% @current_fav_fixes.each do |ff| %>
          <%= link_to fix_path(ff) do %>
            <div class="grid-box">
              <h4><span class="fix-shade">/</span> FIX</h4>
              <p><%= ff.title %></p>
            </div>
          <% end %>
        <% end %>

        <% @current_fav_techs.each do |ft| %>
          <%= link_to technology_path(ft) do %>
            <div class="grid-box">
              <h4><span class="tech-shade">/</span> TECH</h4>
              <p><%= ft.name %></p>
            </div>
          <% end %>
        <% end %>
      </div> <!-- end grid-container -->

    </div><!-- end inner-bound -->
  </div><!-- end lower-container -->
<% else %>
  <div class="lower-container no-user">
    <!-- transparent lower-container if noone signed in -->
  </div>
<% end %>
