
<!-- MULTI SEARCH -->
<div class="large-search">
  <%= form_tag('/', method: :get) do %>
    <%= text_field_tag 'term', params[:term], placeholder: "Need help?  You can ask me about an issue or a procedure you need to know.", class: "search" %>
    <span class="slash">/</span>
    <!-- <%= submit_tag "Search Triage" %> -->
    <%= button_tag(type: 'submit', class: "btn submit", id: 'mag-glass-main') do %>
      <%= image_tag 'mag-white.png', class: "mag" %>
    <% end %>
    <%= link_to 'X', '/', class: "clear-search" %>
  <% end %>

  <ul class="god-results">
    <% @results.each do |r| %>
      <li><%= link_to r.content, r.searchable, class: "green-hover" %></li>
    <% end %>
  </ul>
</div>
<!-- end multi search -->
<% if session[:user_id].present? %>
  <div class="lower-container">
    <div class="inner-bound">


      <h2>YOUR PINS</h2>

      <% @current_user.favorite_issues.each do |fi| %>
        <p>[issue] <%= link_to fi.summary, issue_path(fi) %></p>
      <% end %>
      <% @current_user.favorite_fixes.each do |ff| %>
        <p>[fix] <%= link_to ff.title, fix_path(ff) %></p>
      <% end %>
      <% @current_user.favorite_technologies.each do |ft| %>
        <p>[tech] <%= link_to ft.name, technology_path(ft) %></p>
      <% end %>
    </div>
  </div>
<% end %>
