

<div class="large-search">
  <!-- MULTI SEARCH -->
  <%= form_tag('/', method: :get) do %>
    <%= text_field_tag 'term', params[:term], placeholder: 'What can I help you find?', class: "search" %>
    <%= submit_tag "Search Entire Knowledge Base" %>
  <% end %>
  <%= link_to 'Clear Search', '/' %>

  <ul>
    <% @results.each do |r| %>
      <li><%= link_to r.content, r.searchable %></li>
    <% end %>
  </ul>
  <!-- end search -->
</div>

<% if session[:user_id].present? %>

  <p>Welcome <%= @current_user.name %></p>
  <h2>PINS</h2>

  <% @current_user.favorite_issues.each do |fi| %>
    <p>[issue] <%= link_to fi.summary, issue_path(fi) %></p>
  <% end %>
  <% @current_user.favorite_fixes.each do |ff| %>
    <p>[fix] <%= link_to ff.title, fix_path(ff) %></p>
  <% end %>
  <% @current_user.favorite_technologies.each do |ft| %>
    <p>[tech] <%= link_to ft.name, technology_path(ft) %></p>
  <% end %>

<% end %>
