
<!-- MULTI SEARCH -->
<div class="large-search">
  <%= form_tag('/', method: :get) do %>
    <%= text_field_tag 'term', params[:term], placeholder: "Need help?  You can ask me about an issue or a procedure you need to know.", class: "search" %>
    <span class="slash">/</span>
    <!-- <%= submit_tag "Search Triage" %> -->
    <%= button_tag(type: 'submit', class: "btn submit", id: 'mag-glass-main') do %>
      <%= image_tag 'mag-white.png', class: "mag" %>
    <% end %>
    <%= link_to 'X', '/', class: "clear-search" %>
  <% end %>

  <% if params[:term] %>
    <ul class="god-results">
      <% @results.each do |r| %>
        <li><%= link_to r.content, r.searchable, class: "green-hover" %></li>
      <% end %>
      <% if flash[:notice] %>
        <li><%= flash[:notice] %></li>
      <% end %>
    </ul>
  <% end %>

</div>
<!-- end multi search -->
<% if session[:user_id].present? %>
  <div class="lower-container">
    <div class="inner-bound">


      <h2 class="grid-heading">YOUR PINS</h2>
      <div class="grid-container">

        <% @current_user.favorite_issues.each do |fi| %>
          <%= link_to issue_path(fi) do %>
            <div class="grid-box">
              <h4><span class="issue-slash">/</span> ISSUE</h4>
              <p><%= fi.summary %></p>
            </div>
          <% end %>
        <% end %>

        <% @current_user.favorite_fixes.each do |ff| %>
          <%= link_to fix_path(ff) do %>
            <div class="grid-box">
              <h4><span class="fix-slash">/</span> FIX</h4>
              <p><%= ff.title %></p>
            </div>
          <% end %>
        <% end %>

        <% @current_user.favorite_technologies.each do |ft| %>
          <%= link_to technology_path(ft) do %>
            <div class="grid-box">
              <h4><span class="tech-slash">/</span> TECH</h4>
              <p><%= ft.name %></p>
            </div>
          <% end %>
        <% end %>
      </div> <!-- end grid-container -->


    </div>
  </div>
<% else %>
  <div class="lower-container no-user">
  </div>
<% end %>
