<!DOCTYPE html>
<html>
  <head>
    <title>Triage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/4fb2ab8201.js"></script>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'Home / Search', root_path, class: "green-nav" %>
        <%= link_to 'Browse Issues', issues_path %>
        <%= link_to 'Browse Fixes', fixes_path %>
        <%= link_to 'Browse Tech', technologies_path %>
        <% if (@current_user.present? && @current_user.admin?) %>
          <%= link_to 'New Issue', new_issue_path %>
          <%= link_to 'New Fix', new_fix_path %>
          <%= link_to 'New Tech', new_technology_path %>
          <%= link_to 'All Users', users_path %>
        <% end %>
        <% if @current_user.present? %>
          <%= link_to 'Edit Profile', edit_user_path(@current_user) %>
          <%= link_to 'Logout', login_path, :method => 'delete' %>
          <span class="current-user">Logged in as: <%= @current_user.name %></span>
        <% else %>
          <%= link_to 'Sign Up', new_user_path, class: "green-nav"  %>
          <%= link_to 'Login', login_path, class: "login"  %>
        <% end %>
      </nav>
      <h1 class="main-heading">TRIAGE</h1>
      <%= yield %>
    </div> <!-- end container -->
  </body>
</html>
