<!DOCTYPE html>
<html>
  <head>
    <title>TriageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Browse All Issues', issues_path %>
      <%= link_to 'New Issue', new_issue_path %>
      <%= link_to 'Browse All Fixes', fixes_path %>
      <%= link_to 'New Fix', new_fix_path %>
      <%= link_to 'Browse All Tech', technologies_path %>
      <%= link_to 'New Tech', new_technology_path %>
    </nav>

    <%= yield %>
  </body>
</html>
